
    body{
      background-color: #C71585;
    }
    
    hr{
      border-style: dotted ;
      border-top:none ;
      border-left:none ;
      border-right:none ;
      border-width: 15px;
      border-color: MediumVioletRed	;
      width: 10%;
      
    }
    img{
      height: 150px;
    }

      h1 {
        color: #1e836c;
      }

      h2 {
        color: #1e836c;
      }
      
      h3 {
        color: #1e836c;
      }

